body{
background-color:#FFFBE9;
}
h1{
color:#0093AB;
text-align:center;
font-size:4em;
font-family: 'Indie Flower', cursive;
}
h2{
color:#0093AB;
text-align:center;
font-family: 'Indie Flower', cursive;
}
.left{
height:200px;
width:200px;
position:relative;
left:400px;
float:left;
font-family: 'Indie Flower', cursive;

}

.right{
height:200px;
width:200px;
position:relative;
right:400px;
float:right;
font-family: 'Indie Flower', cursive;
}

